# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env
backend/data/*.db

# Flutter
client/.dart_tool/
client/build/
client/.flutter-plugins-dependencies

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
